body {
  background-color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  padding: 15px 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.hero {
  background-image: url("images/bg.png");
  background-position: center;
  height: 900px;
  text-align: center;
}

.hero-information {
  padding-top: 280px;
}

.homepage-button {
  border-radius: 50px;
  width: 200px;
  height: 53px;
  border: none;
  margin-top: 25px;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: inline-flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  min-height: 100%;
  padding: 10px 0 10px 0;
  object-fit: cover;
}

.cover {
  object-fit: cover;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 16px;
}

.Copyright {
  text-align: right;
  font-size: x-small;
}

footer .container {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}

.gallery-pictures {
  display: block;
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 14;
  }

  footer {
    font-size: x-small;
  }
}
